<h1>My Notes</h1>



<% @notes.each do |note| %>
  <div class='card' style='width: 320px;'>
  <h5><%= note.title %></h5>
  
  <hr class="my-4">

  <ul class='list-group list-group-horizontal'>

  <li class='list-group-item'>
    <%= link_to 'Show', note_path(note) %>
  </li>
  <li class='list-group-item'>
    <%= link_to 'Edit', edit_note_path(note) %>
  </li>
  <li class='list-group-item'>
    <%= link_to 'Delete', note, method: :delete %>
  </li>
  </ul>
<% end %>

</div>

<%= link_to 'New Note', new_note_path %>